.NewDocScreen {
    background-color: #E5E5E5;
    min-height: 100vh;
    color: black;
}
.card {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
@media (max-width: 576px) {
    .form-wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    .form-wrapper-footer {
        text-align: center;
    }
    .ConceptsTable {
        margin-left: -1.25rem;
        margin-right: -1.25rem;
    }
}
/* TABLE */
.ConceptsTable {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.25rem;
}
.ConceptsTable * {
    box-sizing: border-box;
}
.cp-table {
    -webkit-box-flex: 1;
    -ms-flex: auto 1;
    flex: auto 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border-collapse: collapse;
    overflow: auto;
}
.cp-thead {
    box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.cp-thead > .cp-tr {
    text-align: center;
}
.cp-tr {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.cp-th {
    flex: 100 0 auto;
    width: 100px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 5px;
    overflow: hidden;
    transition: .3s ease;
    padding: 5px 5px;
    line-height: normal;
    position: relative;
    border-right: 1px solid rgba(0,0,0,0.05);
    transition: box-shadow .3s cubic-bezier(.175,.885,.32,1.275);
    box-shadow: inset 0 0 0 0 transparent;
}
.cp-tbody {
    -webkit-box-flex: 99999;
    -ms-flex: 99999 1 auto;
    flex: 99999 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: auto;
}
.cp-tr-group {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    border-bottom: solid 1px rgba(0,0,0,0.05);
}
.cp-tbody > .cp-tr-group:nth-child(odd) > .cp-tr {
    background: rgba(0,0,0,0.03);
}
.cp-td {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0px;
    flex: 1 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 7px 5px;
    overflow: hidden;
    transition: .3s ease;
    transition-property: width,min-width,padding,opacity;
    border-right: 1px solid rgba(0,0,0,0.02);
    flex: 100 0 auto;
    width: 100px;
}

.btn-cp-tr-remove {
    border-radius: 50%;
    position: absolute;
    left: 3px;
    margin-top: -3px;
    box-shadow: 1px 1px 10px 1px #000000bf;
}